<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite" parallel="tests" thread-count="2">

<listeners>
		<listener class-name="ExtentReportListener.ExtentReporterNG" />
	</listeners>


<test name="Test1">
<packages>
			<package name="com.sample.bimbo" />
</packages>
</test> 



 <test name="Test2">
<packages>
			<package name="com.sample.Test" />
</packages>
</test>   
  
</suite> 
